BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ColumnLimit: 90
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakString: 500
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
PointerAlignment: Right
ReferenceAlignment: Right
IncludeBlocks: Preserve
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 3
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
NamespaceIndentation: None
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
